* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  height: 100%;
  margin: 0px auto;
  /* overflow: hidden; */
}

body,
html {
  height: 100%;
  font-family: "Quicksand", sans-serif;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.content-menu {
  width: 100%;
  background-color: #30895c;
  display: flex;
  justify-content: center;
  height: 70px;
  position: fixed;
}

.menu-itens {
  justify-content: space-between;
  display: flex;
  padding: 12px;
  width: 100%;
  max-width: 1220px;
}

.content-logo {
  /* width: 100%; */
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  /* flex: 1; */
}

.content-logo a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.menu-itens h1 {
  color: #fcfd3b;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-weight: 900;
}

.logomarca {
  width: 50px;
}
.button-back {
  padding-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.button-back2 a {
  color: white;
  border: 2px solid white;
  padding: 10px 20px 10px 20px;

  border-radius: 20px;
  text-decoration: none;
  background:#30895c;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-back a {
  color: black;

  padding: 5px 20px 5px 20px;

  border-radius: 20px;
  text-decoration: none;
  background:#30895c;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-back a img {
  padding-right: 6px;
}
.button-back button {
  background-color: transparent;
  border: 0;
}

.table-display {
  justify-content: center;
  margin: auto;
  display: flex;
  padding: 12px;
  width: 100%;
  max-width: 1220px;
  margin-top: 80px;
}

.table-display img {
  width: 40%;
}

.sub-title {
  display: flex;

  align-items: center;
  color: white;
  font-size: 18px;
}
.i-want-my-table-display {
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  margin: auto;
  display: flex;
  padding: 20px;
  width: 100%;
  max-width: 1220px;
  /* margin-top: 50px; */
  margin-bottom: 50px;
}

.content-left {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
}

.content-rigth {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
}

.content-display-table {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  display: flex;
  padding: 20px;
  width: 100%;
  max-width: 1220px;
}

.titles {
  width: 290px;
  color: white;
  font-size: 9px;
  border-radius: 20px;
  background-color: #30895c;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}

.titles img {
  padding-left: 20px;
}

.about-the-product {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  display: flex;
  padding: 20px;
  width: 100%;

  max-width: 1220px;
}

.content-about-the-product-video {
 display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.content-about-the-product-video video {
  display: flex;
  width: 90%;
  margin-top: 80px;
  margin-bottom: 80px;
  border-radius: 20px;
}

.content-check1 {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  width: 90%;
}

.content-check1 p {
  font-size: 22px;
  padding-left: 20px;
}

@media screen and (max-width: 990px) {
  .titles {
    font-size: 8px;
    width: 80%;
  }

  .content-check1 {
    width: 80%;
  }
}
